[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://mirror.kakao.com/pypi/simple/"
verify_ssl = false
name = "kakao"

[packages]
numexpr = "==2.6.5"
bottleneck = "==1.2.1"
"pyqt5" = "==5.11.2"
numpy = "==1.14.5"
pandas = "==0.23.1"

[dev-packages]
pytest = "==3.6.0"
pytest-qt = "==2.4.0"

[requires]
python_version = "3.6"
