[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://mirror.kakao.com/pypi/simple/"
verify_ssl = false
name = "kakao"

[packages]
numexpr = "==2.6.7"
bottleneck = "==1.2.1"
"pyqt5" = "==5.11.2"
numpy = "==1.15.1"
pandas = "==0.23.4"
numba = "*"
"ciso8601" = "==2.0.1"
ujson = "*"
ta-lib = "*"
matplotlib = "*"

[dev-packages]
pytest = "==3.7.1"
pytest-qt = "==3.0.0"
colorama = "*"
pylint = "==2.1.1"

[requires]
python_version = "3.7"
